<div class="header-container">
  <div class="header-text">
      <h1>Your discover weekly</h1>
  </div>
</div>
<div class="grid-container">
  <div class="info">
    <div class="row">
      <div class="col-2"><span>Track</span></div>
      <div class="col-2"><span>Album</span></div>
      <div class="col-2"><span>Artist</span></div>
    </div>
  </div>
  {{#each tracks}}
  <div class="track">
    <div class="row">
      <div class="col-2"><span>{{{trackName}}}</span></div>
      <div class="col-2"><span>{{{albumName}}}</span></div>
      <div class="col-2"><span>{{{artistNames}}}</span></div>
    </div>
  </div>
  {{/each}}
</div>
